
.img{
    width: 270px;
    height: 200px;
}

.topHeadlinesPage a{
    color: black;
    text-decoration: none;
  
}

.boxYellow{
    position: relative;
    overflow: hidden;
}

.topHeadlinesPage ul li {
    margin-bottom: 20px;
}
.headlineContainer ul{
    position: absolute;
    animation:moveUp 30s linear infinite;
}
.headlineHeading{
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 3;
    top: 0;
}


@keyframes moveUp{
    0%{
        bottom: 0;
    }
    100%{
        bottom: 100%;
    }
}
.top:hover  {
    text-decoration: underline;
    color: rgb(10, 225, 233);
}